<% provide :title, t(".title") %>
<h1><%= t(".help")%></h1>
<p><%= t(".get_help") %>
  <a href="http://www.railstutorial.org/help"><%= t(".page_help") %></a>.
  <%= t(".to_get_help")%>
  <a href="http://www.railstutorial.org/book"><em><%= t(".get_book") %></em>
    <%= t(".book") %></a>.
</p>
